/*
Vijaya Anisetti
vijaya_anisetti@student.uml.edu
File: hw4.css
Assignment: Creating an Interactive Dynamic Table
This file consists fo the css required to make the table pretty. 
Use css properties to give the table a clean look. 
Couldn't entirely figure out how to make the table scroll and the table was 
taken from W3Schools CSS form
 */

input[type="text"] {
    width: 20%;
    
}
  
/* formatting for div */
div {
    border-radius: 10px;
    background-color: #bb63d6f1;
    padding: 20px;
    font-family: monospace;
}

#tablearea {
    overflow: scroll;
}

/* formatting for first header */
h1 {
    background-color: #bb63d6f1;
    text-align: center;
    border-radius: 25px;
    color: #000000;
    font-family: monospace;
}

/*formatting of body*/
body {
    background-image: linear-gradient(rgb(129, 221, 152), rgb(73, 161, 95), rgb(55, 119, 71));
    margin-bottom: 400px;
}

/* formatting of table */
table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: middle;
    color: white;
    background-color: #bb63d6f1;
    border: rgb(0, 66, 0);
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    font-family: monospace;
}

  /* use nth child to style the table and make it legible */
tr:nth-child(1) {
    background-color: rgb(92, 204, 120);
    color: black;
}

td:nth-child(1) {
    background-color: rgb(92, 204, 120);
    color: rgb(0, 0, 0);
}

/* button is styled */
#button {
    border-radius: 5px;
    background-color: rgb(92, 204, 120);
    font-family: monospace;
}

input[type=text], select {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#lowcol_in-error {
    color: rgb(85, 255, 141);
    margin-left: 10px;
    text-decoration-line: none;
}

#highcol_in-error {
    color: rgb(85, 255, 141);
    margin-left: 10px;
    text-decoration-line: none;
}

#lowrow_in-error {
    color: rgb(85, 255, 141);
    margin-left: 10px;
    text-decoration-line: none;
}

#highrow_in-error {
    color: rgb(85, 255, 141);
    margin-left: 10px;
    text-decoration-line: none;
    margin-right: 10px;
}

#form3 {
    color: black;
}

label {
    text-decoration-line: underline;
}

label[for=lowcol] {
    margin-right: 10px;
    background-color: rgb(85, 255, 141);
    padding: 5px;
    border-radius: 5px;
}

label[for=highcol] {
    margin-right: 24px;
    background-color: rgb(85, 255, 141);
    padding: 5px;
    border-radius: 5px;
}

label[for=lowrow] {
    margin-right: 10px;
    background-color: rgb(85, 255, 141);
    padding: 5px;
    border-radius: 5px;
}

label[for=highrow] {
    margin-right: 24px;
    background-color: rgb(85, 255, 141);
    padding: 5px;
    border-radius: 5px;
}

